@media screen and (max-width:554px) {
    .Container{
        height: 38em;
        width: 13em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        /* background: rgb(5 5 5 / 16%); */
        box-shadow: 5px 5px 15px rgb(0 0 0 / 70%);
        border-radius: 15px;
        letter-spacing: 3px;
    }
}

